[Unit]
Description = hello daemon

[Service]
ExecStart = /home/ubuntu/hello/hello.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
